<header id="top">
    <div class="wrapper">
        <a href="{{ site.baseurl }}/" class="brand">Dinar's Blog</a>
        <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
        <nav id="headerNav">
            <ul>
                <li>
                    <a title="Linkedin" target="_blank" href="https://www.linkedin.com/in/ahmeddinar/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a title="Github" target="_blank" href="https://github.com/ahmed-dinar"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a target="_blank" class="whoami" href="http://ahmeddinar.me">About Me</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
